@import '../var.module';
.scrollfixed{
    position: fixed;
    top: 40%;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .rutescroll{
        background-color: $color_bg_morado_oscuro;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        border: rgb(69, 23, 67) 5px solid;
    }
}

.typegame{
    position: absolute;
    top: -82px;
    select{
        border-radius: 5px;
        background-color: $color_bg_morado_oscuro;
        color: $color_text_white;
        padding: .4rem;
        font-size: $size_18;
        option{
            color: $color_text_white;
        }
    }
}
.owner{
    margin: 1.2rem 0;
    padding: .4rem 0;
    border-radius: 5px;
    background-color: $color_bg_morado_oscuro;
    position: absolute;
    top: -82px;
    right: 0;
    width: 504px;
}

.containcharacterinfo{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: fit-content;
    margin: 0 7rem 0 0;
    .Character{
        border-radius: 3px;
        padding: 3rem 0;
        width: 100%; 
        margin: 0 auto; 
        display: flex;
        flex-direction: column;    
        .idnft{
            background-color: $color_bg_morado_oscuro;
            padding: 1rem ;
            width: 180px; 
            margin: -2rem auto 1rem auto;
            border-radius: 40px;
        } 
        .nft{
            position: relative;
            width: fit-content;
            margin: 0 auto;
            .back{
                position: absolute;
                left: -220px;
                top: -62px;
            }
        }
        // background-color: $color_bg_morado_oscuro;
        .sell{
            display: flex;
            align-items: center;
            margin: .5rem auto; 
            gap: .3rem;
            padding: .4rem;
            border-radius: 40px;
            background-color: $color_bg_morado_oscuro;
            width: fit-content;
            .logoInno{
                width:30px;
                height: 40px;
            }
            .priceinput{
                padding: .7rem 0; 
                margin: 0;
                width: 120px;
                border-radius: 30px;
            } 
        }
        .sellbutton{ 
            padding: 1rem 6.1rem;
            border-radius: 40px;

        }
        img{
            height: 350px;
        }
    }
    .containhabilitys{
        margin: 0 auto;
        width: fit-content;
        padding: 1rem;
        border-radius: 5px;
        background-color: $color_bg_morado_oscuro;
        .habilitys{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }
        .grouphabilitys{
            display: flex;
            justify-content: space-between;
            gap: .5rem;
            .hability{
                z-index: 2;
                background-color: $color_bg;
                padding: .7rem;
                border-radius: 3px;
                width: 125px;
                height: 125px;
                box-shadow: 0px 3px 5px rgb(0, 0, 0);
            }
        }
        .grouphabilityname{
            display: flex;
            justify-content: center;
            gap: 1.6rem;
            button{
                border-radius: 2px;
                background-color: $color_bg;
                padding: .7rem 0;
                width: 130px;
                border-radius: 5px;
                box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: $color_bg;
            border-radius: 12px;
        }
        .containhabilityinfo{
            margin-left: .4rem;
            display: flex; 
            justify-content:  flex-start; 
            background-color: $color_bg_morado_oscuro; 
            margin: 1rem auto;
            width: calc(100% - 15px);
            padding: 0 .2rem; 
            p{
                padding: .7rem .7rem;
                margin: .1rem 0 .1rem 1.5rem;
               background-color: $color_bg; 
                color: $color_text_white;
            }
        }
       
    }
    
}
.descriptiontext{
    font-size: 1.2rem; 
    color: $color_text_white;
    // text-align:  flex-start;
    // word-wrap: break-word; 
}
.description{ 
    width: 470px;
    height: 200px;
    border-radius: 5px;
    
}