    @import '../var.module';

    .contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(44, 0, 40);
        height: 100%;
        padding: 1rem;
        margin: 6.5rem 1rem 0 1rem;
        
    }

    .containestruct{
        max-width: 800px;
    }

    .group1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color_bg_morado_oscuro;
        margin: 2rem 0;
        border-radius: 6rem;
    }


    .group2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .subgroup2{
        display: flex;
        flex-direction: column;
        background-color: $color_bg_morado_oscuro;
        padding: .2rem 2rem;
        margin: .6rem;
        align-items: center;
        border-radius: 1rem 1rem 0 0;
        p{
            margin: .5rem;
        }
    }

    .subgroup2_1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1.4rem;
        div{
            background-color: $color_bg_morado_oscuro;
            margin: .4rem;
            padding: .2rem;
            border-radius: 1rem 1rem 0 0;
            align-items: center;
            p{
                background-color: $color_btn_morado;
                border-radius: 1rem 1rem 0 0;
                padding: .5rem 0;
                margin:  .3rem .4rem 1rem .4rem;
            }
        }
    }

    .backgrouninfo1{
        background-color: $color_btn_morado;
        width: 140%;
        padding: 1rem 0;
    }

    .img{
        width: 80px;
        height: 80px;
        background-color: $color_text_white;
        border-radius: 50%;
        margin: 10px;
    }

    .imgfrecuente{
        width: 90%;
        height: 65%;
        background-color: beige;
    }