@import "../var.module";

.contain {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: $color_bg_morado_oscuro;
  width: 70%;
  height: 700px;
  border-radius: 20px;
}

.contain_left {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  // position: absolute;
  //   background-color: $color_bg;
  width: 25%;
  height: 650px;
  border-radius: 20px;
}

.contain_int_left {
  margin: 0 auto;
  padding: 0.7rem;
  background-color: $color_bg;
  border-radius: 3px;
  height: fit-content;
  width: 100%;
  font-size: 26px;
}

.contain_down_left {
  margin: 0 auto;
  padding: 0.7rem;
  background-color: $color_bg;
  border-radius: 3px;
  height: fit-content;
  width: 100%;
  font-size: 26px;
}

.contain_right {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  // justify-content: center;
  //   background-color: $color_bg;
  width: 65%;
  height: 650px;
  border-radius: 20px;
}

.contain_int_right {
  margin: 0 auto;
  padding: 0.7rem;
  background-color: $color_bg;
  border-radius: 3px;
  height: fit-content;
  width: 100%;
  font-size: 26px;
}

.contain_down_right {
  margin: 0 auto;
  padding: 0.7rem;
  background-color: $color_bg;
  border-radius: 3px;
  height: fit-content;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.contain_down_right_inside {
  font-size: 26px;
}

.order {
  display: flex;
  background-color: $color_bg_morado_oscuro;
  justify-content: space-between;
  // height: 90px;
  // text-align: left;
  padding-left: 25px;
  // font-size: 36px;
  width: 90%;
  // margin-top: 50px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 3px;
  height: fit-content;
}

.contain_stars {
  // padding-left: 20px;
  font-size: 26px;
}
