@import '../var.module';
.containleft{ 
height: 100%;
    width: 100%; 
}
.contain{
    display: flex;   
    position: relative; 
    height: 100%; 
    margin: 0 auto;
    width: 97%;   
    .containnfts{   
        border-radius: 5px;
        margin: 0 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;  
        height: 50vh;
        // height: 548px;
        background-color: $color_bg_morado_oscuro;    
        ::-webkit-scrollbar {
            width: 10px;
            background: $color_bg_morado_oscuro;
          }
          
        ::-webkit-scrollbar-thumb {
        border-radius: 2em;
        background: $color_bg;
        }
          
        .filter{
            background-color: $color_bg_morado_oscuro;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
            width: 100%;
            .filter1{
                display: flex;
                justify-content: flex-start;
                gap: 1rem;
                padding: 1rem 0;
                flex-wrap: wrap;
                margin: 0 1.5rem;
                .filterinput{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $color_bg;
                    border-radius: 5px;
                    padding: 0 .3rem;
                    gap: .5rem;
                    height: 40px;
                    input{
                        margin: .3rem;
                        height: 70%;
                        background-color: $color_bg_morado_oscuro;
                    }
                    
                    
                }
            }
        }
        .nfts{
            overflow-y: scroll;
            display: flex;
            justify-content: flex-start;
            gap: 1rem;
            flex-wrap: wrap;
            height: 100%;
            margin: 1rem 1rem 0 1rem;
        }
        
    }
    

    
    .containtypemerge{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 1rem 0 0;
        .top{
            padding: 1rem;
            background-color: $color_bg_morado_oscuro;
            display: flex;
            border-radius: 5px;
            .left{
                display:  flex;
                flex-direction: column;
                .fusion{
                    margin: .1rem 0;
                    background-color: $color_bg;
                    padding: .3rem 0;
                    border-radius: 5px;
                    cursor: pointer;
                    color: $color_text_white;
                    font-size: 24px;
                }
            }
            .right{
                display:  flex;
                flex-direction: column;
                justify-content: flex-end;
                h1{
                    margin: .1rem .5rem;
                    background-color: $color_bg;
                    padding: .3rem 3rem;
                    border-radius: 5px;
                    cursor: pointer;
                    color: $color_text_white;
                    font-size: 24px;
                }
            }
        }
        .bottom{
            display: flex;
            justify-content: space-around;
            background-color: $color_bg_morado_oscuro;
            padding: 1rem;
            border-radius: 5px;
            .containcircle{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                gap: 1rem;
                button{
                    padding: 1rem 3rem;
                    font-size: 1.7rem;
                    background-color: $color_bg;
                }
                
                .circleG{
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background-color: $color_bg;
                }
                .circleM{
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    background-color: $color_bg;
                }
            }
        }
        
    }

}



.containlvl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    .aaa{
        margin: 0 auto;
        padding: .75rem 1rem;
        background-color: $color_bg;
        border-radius: 50%;
        cursor: pointer;
    }
}

.rarity{
   background-color: $color_bg_morado_oscuro;
   color: $color_text_white;
   padding: .5rem 1rem ;
   border-radius: 3px;
   option{
    border-radius: 3px;
    background-color: $color_bg_morado_oscuro;
    color: $color_text_white;
   }
} 
// @media screen and (max-width: 1921px) {
//     .contain{  
//         position: absolute;
//         top: -50px;
//         left: 0; 
//         transform: scale(.65); 
//         .containnfts{
//             height: 60vh;
//         }
//     }
//     } 
.fusionnft{
    display: flex; 
    margin: 0 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: $color_bg_morado_oscuro;
    height:32vh;
    padding: .5rem 0 1rem 0; 
    .containfusionnft{
        display: flex;
        gap: .7rem;
        flex-direction: column;
    }
}  
.containdefusionnft{ 
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0 1rem;
    .containinfo{
        display: flex;
    }
    button{
        background-color: $color_bg;
        width: 100%;
        padding: .7rem;
        font-size: 20px;
    }
}
.nonfts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    margin: 1rem;
    .containnonft{
        background-color: $color_bg;
        border-radius: 3px;
        width: 100%;
        height: 140px;
    }
    div{
        display: flex;
        gap: 1rem;
        button{
            background-color: rgba(128, 128, 128, 0.648);
            width: 100%;
            padding: 1rem;
            font-size: 20px;
        }
    }
 
}
.containprobabilidadfusion{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    h1{
        color: white;
    }
    .infoprobabilidadfusion{ 
        display: flex; 
        align-items: flex-start;
        gap: 3rem;
    }
    button{
        background-color: $color_bg;
        width: 100%;
        padding: .7rem;
        font-size: 20px;
    }
} 
.noseee{
    z-index: 5;
    background-color: rgb(157, 84, 0);
    padding: 1px 0; 
    border-radius: 3px;
}