.contain{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    width: 100%;
    margin: 4rem;
    
}
.cotainleft{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    *{  
        margin: .5rem;
        height: 100%;
        
    padding: 1rem ;
    }
    .contain1{
        background-color: red;

    }
    .contain2{
        background-color: black;
    }
}

