@import '../var.module';

.contain{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items:  flex-start;
   margin: 0 0 0 200px;
   .wallet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: flex-end;
    gap: 1rem;
    }
   .containinfo{
    display: flex;
    justify-content:  flex-start;
    align-items:  flex-start;
    margin: 4rem 2rem;
        .contain_datos{
            flex-direction: column;
            border-radius: .7rem;
            margin: 0 2rem;
            display: flex;
            color: black;
            text-align: start;
            div button{
                margin: 0 0 0 1rem;
            }
            div input{
                padding: .7rem 0;
            }
        }
    }
}
.img{
    border-radius: 50%;
    background-color: #D9D9D9;
}