.contain{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(66, 24, 65);
   margin: 8.5rem 1rem;
   height: 100%;
   padding: 1rem;
   
}

.containinfo{
    justify-content: center;
    display: flex;
    margin: 4rem 2rem;
}

.contain_datos{
    margin: 0 2rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    color: black;
    text-align: start;
}

.contain_datos p{
    margin: .7rem 2rem;
}

.descripcion{
    text-align: start ;
    background-color: #D9D9D9;
    color: black;
    height: 150px;
    width: 300px;
}
.descripcion p{
    margin: 1rem;
}

.wallet{
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
    align-items: center;
}
.wallet div{
    background-color: #D9D9D9;
    color: black;
    margin: 0 1rem;
    padding: .6rem 1rem;
    border-radius: 1rem 0 0 1rem;
}

.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #D9D9D9;
}