@import '../var.module';
.link{
    margin: .3rem;
    text-decoration: none;  
    cursor: pointer;
  } 
.cards{
    padding: .4rem;
    background: #7A0D69;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5), inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    .contain{
        position: relative;
        display: flex;
        flex-direction: column;
        .nft{
            width: 230px;
            height: 300px;
            border-radius: 3px;
        }
        .absotule{
            position: absolute;
            bottom: 90px;
            width: 100%;
            height: 46px;
            background: rgba(133, 17, 135, 0.7);
            box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.2);
            display: flex;
            align-items: center;
            .containlvlnft{
                width: 100%;
                top: -10px;
                position: absolute;
                display: flex;
                justify-content: space-around;
                .energi{
                    position: absolute;
                    height: 3px;
                    // width: 20%;
                    top: 8px;
                    left: 0;
                    background: #e015ff;
                    box-shadow: 0px 0px 6px 3px #9C26B0;
                }
                .lvlnft{
                    z-index: 1;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: rgb(41, 14, 14);
                }
            }

            p{
                position: absolute;
            }
        }
        .habilitys{
            display: flex;
            background: #47213C;
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            // border-radius: 3px;
            padding: 1rem 0;
            .hability{
                border-radius: 50%;
                width: 60px;
                height: 60px;
                filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4)) drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.20));
            }
        
        }
    }
} 
    // .cards:hover{
    //     // -webkit-box-shadow: 0px 0px 11px 8px rgba(204,53,204,1);
    //     // -moz-box-shadow: 0px 0px 11px 8px rgba(204,53,204,1);
    //     box-shadow: 0px 0px 11px 8px rgba(204,53,204,1);
    //     transition: .2s;
    // }
    // .cardsblue:hover{
    //     box-shadow: 0px 0px 11px 8px #328aaf;
    // }
    // .cardsgold:hover{
    //     box-shadow: 0px 0px 11px 8px #a38f2b;
    // }

.power{
    margin: 1rem;
    padding: 1.4rem;
    background-color: rgb(92, 30, 116);
    border-radius: 50%;
}
.texto{
    position: absolute;
    bottom: 30%;
    left: 10%;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.price{
    color: aliceblue;
}   
@media (max-width: 2400px) {
    .cards{  
        .contain{
            .absotule{
                position: absolute;
                bottom: 53px;
                width: 100%;
                height: 26px;
                background: rgba(133, 17, 135, 0.7);
                box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.2);
                display: flex;
                align-items: center; 
              
                .containlvlnft{ 
                    top: -5px; 
                    .energi{ 
                        height: 3px; 
                        top: 4px; 
                    }
                    .lvlnft{ 
                        width: 10px;
                        height: 10px; 
                    }
                }
                
            }
            .nft{
                width: 160px;
                height: 190px;
            }
            .habilitys{
                padding: .2rem;
                gap: .3rem;
                .hability{
                    width: 45px;
                    height: auto;
                }
            }
        }
    }
}