@import '../../_var.module';

.contain{
    margin: 7rem 5rem;
    background-color: rgb(132, 20, 100);
    display: flex;
    flex-direction: column;
    *{
        color: $color_text_white;
    }
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.infoleft{
margin: 3rem;
}
.sell{
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
    justify-content: center;
    div{
        padding: 1rem;
        border-radius: 1rem;
        background-color: $color_btn_morado;
        margin: 1rem;
        cursor: pointer;
    }
}
.fusion{
    padding: 1rem;
    border-radius: 1rem;
    background-color: $color_btn_morado;
    cursor: pointer;
}

// ----------------------------------------------------

.inforight{
    margin: 3rem;
}

.containhabilidades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color_bg_morado_oscuro;
    *{
        background-color: $color_text_white;
        border-radius: 50%;
        padding: .5rem;
        width: 50px;
        height: 50px;
        margin: 1rem 2.5rem;
    }
}

.infohabilidades{
    background-color: $color_bg_morado_oscuro;
    width: auto;
    height: 150px;
    *{
        margin: 0 1rem;
    }
}


// -------------------------------------------------

.containfusion{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    margin: 5rem;
    align-items: center;
}

.nftfusion{
    background-color: red;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

.cartsfusion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.btndefusion{
    display: flex;
    flex-direction: row;
    *{
        background-color: $color_btn_morado;
        padding: 1rem;
        border-radius: 1rem;
        margin: 4rem 1rem 0 1rem;
        cursor: pointer;
    };
}
.btnaceptfusion{
    background-color: $color_btn_morado;
    padding: 1rem;
    border-radius: 1rem;
    margin: 4rem 1rem 0 1rem;
    cursor: pointer;
}