@import '../../var.module';

.contain{
    display: flex;
    flex-direction: column;
    margin: 10rem 0;
    align-items: center;
}

.filter{
    border-radius: 1rem;
    background-color: $color_bg_morado_oscuro;
    button{
    background-color: $color_btn_morado;
    margin: 1rem;
    padding: 1rem;
    color: aliceblue;
    border-radius: 1rem;
    cursor: pointer;
    }
    button:hover{
        opacity: 70%;
    }
    button:active{
        background-color: rgb(54, 53, 53);
    }
}

.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;;
    align-items: center;
}

.sell{
    background-color: $color_bg_morado_oscuro;
    color: $color_text_white;
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: .3rem;
    cursor: pointer;
    
}
.sell:hover{
    opacity: 50%;
}
