@import '../../var.module';

// .contain{
//     align-items: center;
//     justify-content: center;
//     text-align: center;
// }
 
.filter{
    border-radius: 1rem;
    margin: 22rem auto 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
    background-color: $color_btn_morado;
    margin: 1rem;
    padding: 1rem;
    color: aliceblue;
    border-radius: 1rem;
    cursor: pointer;
    }
    button:hover{
        opacity: 70%;
    }
    button:active{
        background-color: rgb(54, 53, 53);
    }
}

.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 5.5rem 2rem;
    .form{
        margin: 1rem auto 0;
        display: flex;
        flex-direction: column;
        gap: .4rem;
        width: min-content;
        input{
            padding: .7rem 0; 
            text-align: center;
            background-color: $color_bg_morado_oscuro;
        }
        div{
            display: flex;
            gap: 1rem;
            .deleted{
                background-color: rgb(136, 0, 0);
            }
        }
    }
}
.confirmdeleted{
    background-color: $color_bg_morado_oscuro;
    position: fixed;
    top: 300px;
    right: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 3;
    border-radius: 6px;
    color: white;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button{
        background-color: $color_bg;
    }
}

 .sell{
    width: 100%;
 }
 .sell:hover{
     opacity: 50%;
 }
 .Title{
    position: absolute;
    left: 575px;
    background-color: rgba(255, 255, 255, 0.048);
    padding: 1rem 5rem 1rem 1rem; 
    border-radius: 3px;
}
.contain_warning_addres{
    top: 107px;
    position: fixed;  
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(131, 0, 0);
    padding: .5rem .5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 1rem; 
    p{
        font-size: 20px;

    } 
    .hoverquestionicon{ 
        div{
            p{
                display: none; 
            } 
        } 
     } 
        .hoverquestionicon:hover{ 
            div{ 
                background-color: $color_bg_morado_oscuro;
                position: absolute; 
                top: 0;
                border-radius: 5px;
                width: 320px;
                padding:  1rem;
                p{
                    display: block;   
                } 
            } 
        } 
}