@import '../var.module';
.registrocasicompleto{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h2{
        font-size: 35px;
    }
} 
.contain{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:  flex-start;
    justify-content: center; 
    button{
        background-color: $color_bg;
    }
    .register{
        position: absolute;
        top: -12px;
        left: 33%;
        padding: .7rem 1rem;
        background-color: $color_bg;
        border-radius: 3px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    }
    .login{
        position: absolute;
        top: -12px;
        left: 35%;
        padding: .7rem 1rem;
        background-color: $color_bg;
        border-radius: 3px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    }
        .subcontainer{
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: $color_bg_morado_oscuro;
            padding: 5rem;
            border-radius: 5px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
                .containtwofactor{
                    display: flex;
                    gap: 1rem;
                    justify-content: flex-start;
                    align-items: center;  
                }
                .sendauth{ 
                    display: flex;
                    gap: 1rem;
                    margin: 4rem 0 0 0;
                    input{
                        // padding:.7rem;
                        box-shadow: inset 0 0 10px $color_bg_morado_oscuro;
                    }
                }
                .errorauth{
                    position: absolute;
                    top: 50%;
                    font-size: 20px;
                     color: rgb(228, 0, 0);
                }
                .back{
                    cursor: pointer;
                    position: absolute;
                    top: 5px;
                    left: -100px;
                }
                span{
                    color: $color_btn_morado;
                    cursor: pointer;
                }
                .optionsignin{
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    *{
                        width: 100%;
                        margin: 0 auto;
                    }
                }
                .color{
                    color: $color_btn_morado;
                }
                .containform{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align:  flex-start;
                    gap: 1rem; 
                    label input{
                        background-color: $color_bg;
                        padding: .4rem 1rem;
                        border-radius: .3rem; 
                        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
                    }
                    button{
                        background-color: $color_btn_morado;
                        padding: .7rem;
                        width: 100%;
                        box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.45);
                    }
                }
        }
}