@import '../../var.module';

.contain{
    background-color: $color_bg_morado_oscuro;
    width: 400px;
    height: auto;
    display: flex;
    padding: 3rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: .5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: inset 0px 0px 14px 11px rgba(92,41,88,0.9);
    -moz-box-shadow: inset 0px 0px 14px 11px rgba(92,41,88,0.9);
    box-shadow: inset 0px 0px 14px 11px rgba(92,41,88,0.9);
    button,div{
        width: 50%;
        margin: 1rem 0;
        color: $color_text_white;
    }
}
.containform{
    background-color: $color_bg_morado_oscuro;
    display: flex;
    flex-direction: column;
    background-color: $color_btn_morado;
    border-radius: 1rem;
    cursor: pointer;
    color: $color_text_white;
    padding: .5rem 1rem;
    button{
        background-color: $color_bg_morado_oscuro;
        color: white;
        font-size: 1.1rem;
        margin: 0 auto;
        -webkit-box-shadow: inset 15px -15px 34px -15px rgba(79,30,79,1);
        -moz-box-shadow: inset 15px -15px 34px -15px rgba(79,30,79,1);
        box-shadow: inset 15px -15px 34px -15px rgba(79,30,79,1);
    }
    label{
        text-align: start;
        pre{
            input{
                background-color: $color_bg_morado_oscuro;
                border-radius: .2rem;
                padding: .5rem 0;
                color: white;
                font-size: 1.1rem;
                margin: 0 .5rem;
            }
        }
    }
}
 
.login{
    background-color:#853a7e;
    padding: 0 1rem;
    border-radius:1rem;
    color:aliceblue;
    margin:0 2rem 0 0;
    cursor: pointer;
}
.exit{
    position: absolute;
    top: 1rem;
    right: -4rem;
}

/* perfil */

.imgheader{
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin: 0 2.5rem;
    cursor: pointer;
    z-index: 1;
    background-color: $color_text_white;
}


.contain_perfil{
    position: fixed;
    background-color: rgb(0, 0, 0);
    padding: 0 .4rem;
    right: .57rem;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    border-radius: 5rem 5rem 1rem 1rem;
    button{
            margin: .6rem 0;
            color: aliceblue;
            width: 100%;
    }
} 