@import '../../var.module';
.contain{
    display: flex;
    align-items: center;
    .imgheader{
        position: relative;
        z-index: 2;
        width: 60px;
        height:60px;
        border-radius: 50%;
        margin: 0 2.1rem;
        cursor: pointer;
        background-color: $color_text_white;
    }
    
}
.btnopc{
    z-index: 6;
    margin: 0 .6rem;
}
.contain_perfil{
    z-index: 1;
    position: fixed;
    background-color: rgb(34, 34, 34);
    padding: 0 .4rem;
    right: .5rem;
    top: 2px;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    border-radius: 5rem 5rem 1rem 1rem;
    button{
            margin: .6rem 0;
            color: aliceblue;
            width: 100%;
    }
} 