$color_btn_morado: #853a7e;
$color_btn_morado_semioscuro : rgb(65, 53, 83);
$color_bg_morado_oscuro : #0A0C1B;
$color_bg_morado_oscuro2: #38013A;
$color_bg : #00010B;
$color_text_black : rgb(23, 23, 23);
$color_text_white : rgb(239, 237, 237);
$color_body_grey: #4e4e4e;

$color_bg_options: #03050F;




//TAMAÑO DE TEXTO
$size_14 : 14px;
$size_16 : 16px;
$size_18 : 18px;