@import 'var.module';

*{
  border: none;
}

body{
  background-color: $color_bg;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  align-items: center;
}
button{
    width: fit-content;
    background-color: $color_bg_morado_oscuro;
    border-radius: 5px;
    padding: .7rem 1.3rem;
    font-size: $size_16;
    cursor: pointer; 
    color: $color_text_white;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.562), inset 0px 0px 10px rgba(255, 255, 255, 0.02), inset 0px 0px 10px rgba(255, 255, 255, 0.02);

/* text-button-12px */
    font-family: 'Crimson Pro';
    // font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.75);
    box-shadow: inset 2px -2px 6px rgba(0, 0, 0, 0.05);
filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
}

button:hover{
  opacity: 65%;
}
button:active{
  opacity: 80%;
}

input{
  background-color: $color_bg;
  border-radius: 5px;
  color: #D9D9D9;
  font-size: $size_16;
}

h2{
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: $size_18;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.03em;

  color: #FFFFFF;
}

p{
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: $size_18;
  line-height: $size_16;
  /* identical to box height */
  margin: .4rem .2rem;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

pre{
  font-size: $size_16;
}
// @media (min-width: 1800px) and (max-width: 2399px) {
//   p{
//     font-size: $size_14 * 1.5;
//   }
//   button{
//     font-size: $size_16 * 1.5;
//   }
// }

// @media (min-width: 2400px) {
//   p{
//     font-size: $size_14 * 2;
//   }
//   button{
//     font-size: $size_16 * 2;
//   }
// }

::-webkit-scrollbar {
  width: 10px;
  background: #011234;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  /* background: rgb(61, 46, 104); */
  background: linear-gradient(-45deg, #5052e5, #934be6);
}
