.connect {
    background-color: var(--var_btn_color_morado);
    border-style: none;
    border-radius: 10px;
    padding: .7rem;
    color: #ffffff;
    cursor: pointer;
    transition: .4s;
    /* box-shadow: 0 5px 5px 0 #000000; */
  }
  
  .connect:hover {
    background-color: #321f31;
  }