@import 'var.module';
.contain{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    *{
        background-color: $color_btn_morado;
        margin: 1rem;
        color: $color_text_white;
        padding: .6rem 1rem;
    }
} 