.contain{
    position: fixed;
    top: 40%;
    left: 1rem;
    display: flex;
    flex-direction: column;
}

.contain *{
    background-color: rgb(46, 19, 84);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .6rem;
    transition: .4s;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
}

.contain *:hover{
    opacity: 50%;
}