.contain{
    position: fixed;
    top: 40%;
    left: 1rem;
    display: flex;
    flex-direction: column;
}

.contain div{
    background-color: aliceblue;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .6rem;
    transition: .4s;
    cursor: pointer;
}

.contain div:hover{
    opacity: 50%;
}