@import '../../var.module';

.contain{ 
    display: flex;
    width: 100%;
    text-decoration: none;
    .containlinks{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        position: fixed;
        height: 100%; 
        margin:  -1rem ; 
        background-color: $color_bg;
        padding: 2rem 0;
        box-shadow: inset 0 0 20px 3px #1f17266a, 0 0 5px 4px #1f17268d; 
        width: 170px;
        p{
            margin: 0 auto;
            cursor: pointer;
            width: 100%;
            padding: .7rem 0;
        }
        p:hover{
            background-color: $color_bg_morado_oscuro; 
            box-shadow: inset 0 0 8px 1px $color_bg; 
        }
    }
    .links{
        margin: 0 3rem;
        text-decoration: none; 
    }
    .childrens{
        margin: 0 0 0 14rem;
        width: 100%;
    }
}

.containtitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1{
        margin: 1rem;
        color: white;
    }
    .linearhorizontal{
        background-color: $color_bg_morado_oscuro;
        width: 100%;
        height: 6px;
        border-radius: 5px;
        box-shadow: inset 0 0 20px 1px $color_bg , 0 0 8px $color_bg_morado_oscuro;
    }
}
