.contain{
    background-color: #402F3E;
    position: fixed;
    top: 80px;
    left: 0;
    height: 100%;
    width: 120px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    button{
        width: 80%;
        margin: 1.7rem auto;
    }
}

.containrigth{
    background-color: #402F3E;
    position: fixed;
    top: 80px;
    right: 0;
    height: 100%;
    width: 120px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

