.contain{
    background-color: #402F3E;
    position: fixed;
    top: 80px;
    left: 0;
    height: 100%;
    width: 133px;
    display: flex;
    flex-direction: column;
    button{
        width: 80%;
        margin: 1.7rem auto;
        color: aliceblue;
        font-size: 1.3rem;
        text-decoration: none;
    }
}

.containrigth{
    background-color: #402F3E;
    position: fixed;
    top: 80px;
    right: 0;
    height: 100%;
    width: 133px;
}

