@import '../../var.module';
.contain{
    width: 100%;
    margin: 4.5rem 1rem 3rem 3rem;
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // align-content: center;
    // gap: 1rem;
    // grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.containcard{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 1rem;
}

.containPrice{
    margin: 1rem auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: $size_18;
}

.price{
    background-color: aliceblue;
}

.btnbuy{
    padding: 1rem 0;
    border-radius: .5rem;
    color: $color_text_white;
    margin: 0 auto;
    width: 90%;
    cursor: pointer;
}
