@import '../../var.module';
.contain{
    width: 100%;
    margin: 5rem 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.containcard{
    display: flex;
    flex-direction: column;
    width: 260px;
}

.containPrice{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    // background-color: red;
}

.price{
background-color: aliceblue;
}

.btnbuy{
    background-color: $color_btn_morado;
    padding: 1rem 0;
    border-radius: .5rem;
    color: $color_text_white;
    width: 100px;
    cursor: pointer;
}
.btnbuy:hover{
    opacity: 70%;
}
.btnbuy:active{
    opacity: 100%
}

