@import '../../var.module';
.contain{
    width: 100%;
    margin: 4.5rem 1rem 3rem 3rem;
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // align-content: center;
    // gap: 1rem;
    // grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.saasdasd{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.containcard{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 1rem;
    transition: .2s;
}
.containcard:hover{
    transform: scale(1.05);
}
.containPrice{
    margin: 1rem auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: $size_18;
}
.Title{
    position: absolute;
    top: 120px;
    margin: 0 1rem ;
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0.048);
    padding: 1rem 5rem 1rem 1rem;
    border-radius: 3px;
}
.price{
    background-color: aliceblue;
}

.btnbuy{
    padding: 1rem 0;
    border-radius: .5rem;
    color: $color_text_white;
    margin: 0 auto;
    width: 90%;
    cursor: pointer;
}


@media (max-width: 2400px){
    .containPrice{ 
        font-size:14px;
    }
}