@import '../var.module';

.navbarcontainMovile, .interresolution {
    display: none;
  }
  .blabla{
    position: fixed;
    top: -225px;
    right: 25px;
    z-index: 6;
  }
  .lal{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color_bg_morado_oscuro;
    z-index: 4;
  }
.navbarcontain { 
    z-index: 2;
    width: 100%; 
    display: flex;
    justify-content: flex-end;  
    height: 60px;
    box-sizing: border-box; 
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.19);
  }
  .containsavedata{
    display: flex;
    justify-content: flex-start; 
    box-shadow: 0px 3px 3px #5757578c;
    padding: .2rem;
    gap: 1rem;
    .urlsaveimage{
      display: flex;
      align-items: center;
      justify-content: center;  
      text-decoration: none;
      gap: .5rem;
    }
    p{
      padding: .3rem 0;
    }
   
  }
  .logotb{
    position: absolute;
    left: 60px;
    display: flex;
    align-items: center;
  }
  .search{
    margin: 0 4rem ;
    padding: .7rem 3rem; 
    border-radius: 3px;
    background-color: $color_bg;
  }
  .imagesearch{
    position: absolute;
    left: 150px;
    width: 20px; 
  }
  .prueba{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1rem;
    padding: .7rem 2rem;
  }
  .btnsrigth{
    display: flex;
    flex-direction: row;
    
  }

  .wallet{
    padding: .6rem 1rem;
    border-radius: 1rem;
    margin: auto 1rem;
  }

  .img {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 86px;
    width: 100px;
  }

  .iconos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 4rem 0 0;
  }

  .icon{
    width: 40px;
    height: 40px;
    margin: 0 .7rem;
  }
  

  @media (min-width: 481px) and (max-width: 1150px){
    .navbarcontain, .navbarcontainMovile{
      display: none;
    }
    .interresolution{
      background-color: $color_bg_morado_oscuro;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      z-index: 1;
      width: 100%;
      top: 0;
      height: 80px;
    }
    .img{
      top: -20px;
      z-index: 1;
      position: absolute;
      cursor: pointer;
      margin: 1.5rem;
      width: 90px;
      height: 70px;
    }
    .imagenbar{
      margin-right: 15px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: .6s;
    }
    .imagenbar:hover{
      transform: rotateZ(90deg);
    }
    .optionMovile{
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: #5a1558;
      transition: 0.4s;
      height: 450px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      transition: 0.3s;
      color: white;
      div{
        margin: 2rem 0;
        cursor: pointer;
        :hover{
          background-color: aliceblue;
          border-radius: 2rem;
          padding:0 1rem;
          color: black;
        }
      }
      }
    }

 
 
  @media (max-width: 480px){
    .interresolution, .navbarcontain{
      display: none;
    }
    .navbarcontainMovile{
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $color_bg_morado_oscuro;
        height: 80px;
        
      }
      .imagentb{
        width: 50px;
        height: 50px;
      }
      .imagenbar{
        margin-right: 15px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: .6s;
      }
      .imagenbar:hover{
        transform: rotateZ(90deg);
      }
  
      .optionMovile{
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: $color_bg_morado_oscuro;
        transition: 0.4s;
        height: 450px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        div{
          margin: 2rem 0;
          cursor: pointer;
        }
      }
      .optionMovile div:hover{
        background-color: $color_text_white;
        border-radius: 2rem;
        padding:0 1rem;
        color: black;
      }
  } 
  