@import '../../var.module.scss';
.contain{
    display: flex;
    position: fixed; 
    align-items: center;
    justify-content: center;
    gap: .4rem;
    top: 65px;
    right: 0;
    background-color: $color_bg_morado_oscuro;
    padding: .2rem 1rem;
    border-radius: 5px 0 0 5px;
    transform: rotate(360deg);
    .star{
        margin: 0 .2rem 0 .5rem;
        cursor: pointer;
        z-index: 1;
    }
}